force-app/main/default/flows/Update_Purchase_Totals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Accumulate_Totals</name>
        <label>Accumulate Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Lines.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrandTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaLineTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Totals</name>
        <label>Reset Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrandTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Lines</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formulaLineTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_Lines.Amount__c} * {!Loop_Through_Lines.Unit_Cost__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Purchase Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Purchase Totals</label>
    <loops>
        <name>Loop_Through_Lines</name>
        <label>Loop Through Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Lines_For_This_Purchase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Accumulate_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Lines_For_This_Purchase</name>
        <label>Get All Lines For This Purchase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Totals</name>
        <label>Update Purchase Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Grand_Total__c</field>
            <value>
                <elementReference>varGrandTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Items__c</field>
            <value>
                <elementReference>varTotalItems</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Lines_For_This_Purchase</targetReference>
        </connector>
        <object>Purchase_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varGrandTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
